* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 27px;
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

img {
  max-width: 100%;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}